@import './src/styles/common';

.main-container {
    @include fullWidthHeight();
    @include flexCenter();
    justify-content: space-evenly;
    flex-direction: column;
}
.header-container {
    width: 100%;
    position: absolute;
    top: 0;
}
.companyInfo-container {
    @include flexCenter();
    flex-direction: column;
    h1 {
        margin: 0 0 6px 0;
    }
}
.autocomplete-container {
    @include flexCenter();
    flex-direction: column;
    width: 100%;
    h5 {
        text-align: center;
    }
    .autocomplete {
        width: 100%;
    }
}